@model IEnumerable<EstudianteDaniel2.Models.estudiante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombresEstudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasenia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombresEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasenia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEstudiante }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEstudiante }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEstudiante })
        </td>
    </tr>
}

</table>
